#header {
    width: 100%;
    height: auto;
    margin: 0 auto;

}

#content {
    width: 100%;
    height: 500px;
    margin: 0 auto;

}

#vmenu{
    float : left;
    width: 20%;
    height: 500px;
    margin: 0 auto;
    border-right: 1px solid #000;

}
#vcontent{
    float: right;
    width: 80%;
    height: 500px;
    margin: 0 auto;

}

#foot {
    width: 100%;
    position: absolute;
    bottom: 0;
}